server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://ep-silent-dust-ahupu26q-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_nqrvj5skM9Wm
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  flyway:
    enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: inaguasojonnathan6@gmail.com
    password: dutxhupaitaajlvy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

application:
  security:
    jwt:
      secret-key: aHRtbC10ZXNpc2R1b2xpbmdvY2xvbmUtdW5pdmVyc2l0YXJpYS1uby11c2FyLWVzdGEtY2xhdmU=
      expiration: 900000
