server:
  port: 8081

spring:
  # ------------------------------------
  # 1. 锔 CONFIGURACIN DE BASE DE DATOS (隆FINAL Y CORREGIDA!)
  # ------------------------------------
  datasource:
    # URL CORREGIDA: Usando el pooler/host del comando psql y el par谩metro 'sslmode=require'
    url: jdbc:postgresql://ep-silent-dust-ahupu26q-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require

    username: neondb_owner
    # 隆CONTRASEA CORREGIDA! (Usando la que diste en el comando psql)
    password: npg_nqrvj5skM9Wm

    driver-class-name: org.postgresql.Driver

  # 2. Configuraci贸n de JPA/Hibernate
  jpa:
    hibernate:
      # 'create' fuerza la recreaci贸n de las tablas, ideal para el primer arranque limpio
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  # 3. Configuraci贸n de Flyway
  flyway:
    enabled: false

# ============================================
#  CONFIGURACIN DE SEGURIDAD JWT
# ============================================
application:
  security:
    jwt:
      # Clave secreta BASE64
      secret-key: aHRtbC10ZXNpc2R1b2xpbmdvY2xvbmUtdW5pdmVyc2l0YXJpYS1uby11c2FyLWVzdGEtY2xhdmU=

      # Tiempo de expiraci贸n del token en milisegundos (24 horas)
      expiration: 86400000